/* app.js */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap");
body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  color: white;
  overflow: scroll;
  margin-left: 50px;
  margin-right: 50px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* Nav.js */
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
.logo {
  margin-left: 10px;
}
.title {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 45px;
  margin-top: 10px;
  margin-bottom: 50px;
}
/* Recipe.js */
.recipe {
  width: 460px;
  background-color: #484848;
  padding: 5px;
  margin: 5px;
  display: inline-block;
}
.recipe:hover {
  cursor: pointer;
}
.recipe-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
}
.info {
  text-align: center;
  font-weight: 300;
  background-color: #1a1a1a;
  padding: 10px;
  font-size: 20px;
  margin-top: 0px;
}
.recipe-title {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
}
.clicked {
  width: 100%;
}
.clicked-container {
  margin-top: 10px;
}
.ingredients,
.directions {
  text-align: left;
}
